.gradle
.idea
local.properties
.terraform
.kotlin
build
local.version.txt
/.claude/settings.local.json
Build.kt
KBuildAnnotations.kt
.kbuild
.fork
karma.config.d/chrome-no-sandbox.js

local.version.txt
